.pokemons{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pokemonsList{
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #000000;
  padding: 30px 30px 20px 30px;
  min-width: 484px;
  height: 500px;
  margin-left: 70px;
}

.card__name{
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #A0A0A0;
}

.card__name::first-letter{
  text-transform: capitalize;
}

.card__image{
  align-self: center;
  width: 300px;
  height: 300px;
}

.stats_stat{
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  color: #A0A0A0;
}

.card__loader{
  margin-top: 170px;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__loader_text{
  margin-top: 20px;
  font-size: 20px;
}